<div class="emp-lb" id="emp_%%global_id%%">
    <div class="std-lb noselect" id="std_%%global_id%%">
        <div class="std-lb-ttl"><span id="std_ttl_%%global_id%%">Title</span></div>
        <div class="std-lb-progress"><span id="std_progress_%%global_id%%"><span id="std_checked_%%global_id%%">0</span>/<span id="std_overall_%%global_id%%">0</span></span></div>
    </div>
    <div class="elp-lb hidden" id="elp_%%global_id%%">
        <div class="elp-lb-ttlbl noselect">
            <div id="elp_ttl_%%global_id%%" class="elp-lb-ttl">Title</div>
            <div id="elp_progress_%%global_id%%" class="elp-lb-progress"><span id="elp_checked_%%global_id%%">0</span>/<span id="elp_overall_%%global_id%%">0</span></div>
        </div>
        <img class="noselect" id="btn_edit_%%global_id%%" data-id="%%global_id%%" src="assets/img/edit.png">
        <div><span class="elp-lb-txt" id="elp_comment_%%global_id%%">Comment</span></div>
        <div class="elp-lb-txt">
            <div class="line-separator"></div>
            <div class="elp-au noselect"><span>Created by: </span><span id="elp_au_%%global_id%%"></span></div>
            <div class="elp-date noselect"> <span>Date: </span><span id="elp_date_%%global_id%%"></span></div>
        </div>
    </div>
</div>