<div class="fade" id="modal_layer">
    <div class="modal-ls">
        <div class="modal-ttl">
            <span id="md_ttl">Edit</span>
        </div>
        <div class="modal_container">
            <div class="modal_row">
                <span>Name of the list</span>
                <input type="text" id="el_name_%%global_id%%" name="ttl" placeholder="list name">
            </div>
            <div class="modal_row">
                <span>Description (optional)</span>
                <input type="text" id="el_dscrp_%%global_id%%" name="descript" placeholder="commentary">
            </div>
            <div class="modal_row">
                <span>Shared with</span>
                <hr>
            </div>
            <div class="modal_row">
                <span>Share via email</span>
                <input type="text" id="shr_wdnw_%%global_id%%" name="share_email" placeholder="email">
                <button class="md-btn-shr">Share</button>
                <p><a class="red" id="dlt_%%global_id%%" data-id="%%global_id%%">Delete list...</a></p>
            </div>
        </div>
        <div class="md-btn-group">
            <button class="md-btn-save" id="el_save_%%global_id%%">Save</button>
            <button class="md-btn-cncl" id="btn_cncl_nl">Cancel</button>
        </div>
    </div>
</div>