<div class="fade" id="modal_layer">
    <div class="modal-ls">
        <div class="modal-ttl">
            <span id="md_ttl">Add Item</span>
        </div>
        <div class="modal_container">
            <div class="modal_row">
                <span>Name of the item</span>
                <input type="text" id="cr_name" name="ttl" placeholder="Item's name">
            </div>
            <div class="modal_row">
                <span>Commentary (optional)</span>
                <input type="text" id="cr_dscrp" name="descript" placeholder="commentary">
            </div>
        </div>
        <div class="md-btn-group">
            <button class="md-btn-save" id="cr_save">Create</button>
            <button class="md-btn-cncl" id="btn_cncl_nl">Cancel</button>
        </div>
    </div>
</div>