<div class="ils-block" id="ils_block_%%global_list_id%%" data-id="%%global_list_id%%">
    <div class="ils-header-holder">
        <div class="ils-header noselect">
            <img class="ils-back" id="ils_back_%%global_list_id%%" src="assets/img/back.png" alt="back">
            <span class="ils-title" id="ils_title_%%global_list_id%%">Test title asdasd asd as dasd asd as</span>
            <img class="ils-edit" id="ils_edit_%%global_list_id%%" src="assets/img/edit_light.png" alt="edit">
        </div>
    </div>
    <div class="ils-progress-holder noselect">
        Items
        <span class="ils-progress" id="ils_progress_holder_%%global_list_id%%">
            <span id="ils_progress_check_%%global_list_id%%" class="ils-progress">00</span>/<span id="ils_progress_all_%%global_list_id%%">00</span>
        </span>
    </div>
    <div id="ils_container_%%global_list_id%%"></div>
    <p class="ib-hint noselect">double tap on item to view/hide commentary (in progress)</p>
    <div class="btn-add-i noselect" id="i_btn_add_%%global_list_id%%"><img src="assets/img/add.png" alt="add"></div>
</div>